.footer-background {
  background-color: $third-background-color;
}

.join {
  color: $title-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mailing {
  color: $title-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-area {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  text-align: left;
}
