.clients-block {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients {
  color: $secondary-text-color;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  @media screen and (max-width: 767px) {
    margin: -15px;
  }

  & .item:nth-child(6n) {
    margin-right: 0;
  }
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
}
.img-client {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px * 3) / 3);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 5) / 6);
    &:not(:nth-child(6n)) {
      margin-right: 30px;
    }
  }

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    cursor: pointer;
  }
}

.item:hover .img-client {
  cursor: pointer;
  fill: #2196f3;
}

.clients-list a:focus {
  border: 1px solid #2196f3;
}

.client:focus .img-client {
  fill: #2196f3;
}
