.logo {
  display: block;
  font-family: $logoFont;
  color: $accent-color;

  @media screen and (max-width: 1199px) {
    padding: 16px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
  }

  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    &.no-margin-bottom {
      margin-bottom: 0;
    }
  }
}
.accent {
  color: $accent-color;
  font-family: $logoFont;
  margin-right: 10px;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-footer {
  color: $title-text-color;
}

.logo.no-padding {
  padding: 0;
  margin-bottom: 20px;
}
/* Logo при мобильной/таблет версии */
.footer-contacts a {
  justify-content: center;
}
