$primary-text-color: #757575;
$secondary-text-color: #212121;
$title-text-color: #ffffff;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-background-color: #f5f4fa;
$third-background-color: #2f303a;
$logoFont: 'Raleway', sans-serif;
$primaryFont: 'Roboto', sans-serif;
